.app {
  max-width: 800px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin: 0 auto;
  align-items: center;
}

.status {
  font-size: 2rem;
  text-align: center;
  font-weight: bold;
  min-height: 3rem;
}